/*
	(c) copyright 2010, Brian Cavalier

	LICENSE: see the LICENSE.txt file. If file is missing, this file is subject to the MIT
	License at the following url: http://www.opensource.org/licenses/mit-license.php.
*/
.display {
	position: relative;
	height: 100%;
	margin: 0 auto;	
	overflow: hidden;
	width: 100%;
	-webkit-transform: skewX(-5deg);
	-moz-transform: skewX(-5deg);
	z-index: 99;
}
.dim .clock {
	opacity: .5;
}
.dim footer, .dim .controls {
	opacity: 0;
}
.display-area {
	float: left;
	height: 199px;
	margin: 0 15px 15px 0;
	position: relative;
}
.element {
	opacity: .1;
}
.on {
	opacity: .9 !important;
}
.digit
{
	width: 101px;
}
.second {	
	height: 111px;
	width: 62px;
}

.second2 {	
	height: 55.5px;
	width: 31px;
}

/* Bars for hours, minutes, and seconds */
.bar {
	background-color: #0f0;
	border-radius: 4px;
	-moz-border-radius: 4px;
	position: absolute;
	-webkit-box-shadow: 0 0 20px #0f0;
	-moz-box-shadow: 0 0 20px #0f0;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
}
.center {
	left: 23px;
	height: 20px;
	width: 56px;
}
.center.top {
	top: 0;
}
.center.middle {
	top: 88px;
}
.center.bottom {
	bottom: 0px;
}
.left, .right {
	width: 20px;
	height: 87px;
}
.left {
	left: 0;
}
.right {
	right: 0;
}
.left.top, .right.top {
	top: 10px;
}
.left.bottom, .right.bottom {
	bottom: 10px;
}
/* Seconds */
.second .bar {
	border-radius: 3px;
	-moz-border-radius: 3px;
}
.second .center {
	height: 10px;
	width: 40px;
	left: 11px;
}
.second .center.middle {
	top: 50px;
}
.second .left, .second .right {
	width: 10px;
	height: 50px;
}
.second .left.top, .second .right.top {
	top: 5px;
}
.second .left.bottom, .second .right.bottom {
	bottom: 5px;
}


/* Seconds */
.second2 .bar {
	border-radius: 3px;
	-moz-border-radius: 3px;
}
.second2 .center {
	height: 5px;
	width: 20px;
	left: 6px;
}
.second2 .center.middle {
	top: 25px;
}
.second2 .left, .second2 .right {
	width: 5px;
	height: 22px;
}
.second2 .left.top, .second2 .right.top {
	top: 5px;
}
.second2 .left.bottom, .second2 .right.bottom {
	bottom: 5px;
}

.colon2 {
	width: 10px;
}
.colon2 .bar {
		width: 10px;
		height: 10px;	
}


/* Digits */
.d0 .center.top, .d0 .center.bottom, .d0 .left.top, .d0 .left.bottom, .d0 .right.top, .d0 .right.bottom {
	opacity: .9;
}
/* Always hide leading zeros in 12hr time */
.hr12 .d0:first-child .bar {
	opacity: .1 !important;
}
.d1 .right.top, .d1 .right.bottom {
	opacity: .9;
}
.d2 .center, .d2 .right.top, .d2 .left.bottom {
	opacity: .9;
}
.d3 .center, .d3 .right.top, .d3 .right.bottom {
	opacity: .9;
}
.d4 .center.middle, .d4 .left.top, .d4 .right.top, .d4 .right.bottom {
	opacity: .9;
}
.d5 .center, .d5 .left.top, .d5 .right.bottom {
	opacity: .9;
}
.d6 .center, .d6 .left.top, .d6 .left.bottom, .d6 .right.bottom {
	opacity: .9;
}
.d7 .center.top, .d7 .right.top, .d7 .right.bottom {
	opacity: .9;
}
.d8 .bar {
	opacity: .9;
}
.d9 .center, .d9 .left.top, .d9 .right.top, .d9 .right.bottom {
	opacity: .9;
}
		
/* Colon separator */
.sep.on .bar {
	opacity: .9;
}
.colon {
	width: 20px;
}
.colon .bar {
	width: 20px;
	height: 20px;
}
.colon .top {
	top: 64px;
}
.colon .bottom {
	bottom: 0px;
}

.ampm.am .am {
	opacity: .9;
}
.ampm.pm .pm {
	opacity: .9;
}
.hr24 .ampm .am, .hr24 .ampm .pm {
	opacity: .1 !important;
}
.hr12 .element.hr12 {
	opacity: .9 !important;
}
.hr24 .element.hr24 {
	opacity: .9 !important;
}

/* Text */
.text {
	font-family: "Arial", sans-serif;
	font-size: 20px;
	color: #0f0;
	text-shadow: 0 0 20px #0f0;
}
.text .element {
	margin: 0;
	padding: 0;
}

/* Dots */
.dot {
	background-color: #0f0;
	height: 10px;
	width: 20px;
	opacity: .3;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-box-shadow: 0 0 20px #0f0;
	-moz-box-shadow: 0 0 20px #0f0;
}

/* Controls */
.controls {
	position: relative;
	height: 100%;
	margin-top: 10px;
	text-align: center;
	z-index: 101;
}
.controls a {
	cursor: pointer;
}
.controls .element {
	margin: 0 10px;
	overflow: visible;
}
.controls .text {
	display: inline-block;
	opacity: .3;
}
.controls .dot {
	display: inline-block;
	padding: 0;
	transition:         all 250ms ease;
	-webkit-transition: all 250ms ease;
	-moz-transition:    all 250ms ease;
}

footer {
	display: block;
	font-size: 9px;
	margin-top: 10px;
	position: relative;
	z-index: 102;
	-webkit-transition: all 1000ms ease;
	-moz-transition: all 1000ms ease;
}

footer .text {
	display: block;
	font-size: 9px;
	text-align: center;	
}

a, a:visited {
	color: #0f0;
	text-shadow: 0 0 20px #0f0;
}

/* Color Themes - Green is default */

/* Blue */
.blue .clock {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(.5, rgba(80, 160, 200, .4)), to(#000));
	background-image: -moz-linear-gradient(top, #000, rgba(0, 200, 255, .4) 50%, #000);
}
.blue .bar, .dot.blue {
	background-color: rgb(0, 200, 255);
	-webkit-box-shadow: 0 0 20px rgb(0, 200, 255);
	-moz-box-shadow: 0 0 20px rgb(0, 200, 255);
}
.blue .text, .blue a, .blue a:visited {
	color: rgb(0, 200, 255);
	text-shadow: 0 0 20px rgb(0, 200, 255);
}

/* Red */
.red .clock {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#000), color-stop(.5, rgba(150, 0, 0, .3)), to(#000));
	background-image: -moz-linear-gradient(top, #000, rgba(150, 0, 0, .3) 50%, #000);
}
.red .bar, .dot.red {
	background-color: rgb(200, 20, 0);
	-webkit-box-shadow: 0 0 20px rgb(200, 20, 0);
	-moz-box-shadow: 0 0 20px rgb(200, 20, 0);
}
.red .text, .red a, .red a:visited {
	color: rgb(200, 20, 0);
	text-shadow: 0 0 20px rgb(200, 20, 0);
}

/* 
 * White
 * Uses font-based digits
 */
@font-face {
	font-family: 'BankGothicMdBTMedium';
	src: url('fonts/bankgthd-webfont.eot');
	src: local('☺'), url('fonts/bankgthd-webfont.woff') format('woff'), url('fonts/bankgthd-webfont.ttf') format('truetype'), url('fonts/bankgthd-webfont.svg#webfontxxgoVOPr') format('svg');
	font-weight: normal;
	font-style: normal;
}
.white .clock {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(80, 160, 200, .2)), to(#000));
	background-image: -moz-linear-gradient(top, rgba(0, 200, 255, .2), #000);
}
.white .overlay {
	background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 300, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .4)));
	background-image: -moz-radial-gradient(center 45deg, circle closest-side, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, .4) 300%);
}
.white .display {
	width: 920px;
}
.white .display-area {
	margin-left: 2px;
}
.white .sep .element, .dot.white {
	background-color: rgb(255, 255, 255);
	box-shadow:         0 0 20px rgb(0, 200, 255);
	-webkit-box-shadow: 0 0 20px rgb(0, 200, 255);
	-moz-box-shadow:    0 0 20px rgb(0, 200, 255);
}
.white .digit {
	width: 150px;
}
.white .digit.second {
	width: 60px;
}
.white .digit .element {
	display: none;
}
.white .digit:before {
	display: block;
	height: 100%;
	margin: -20px 0 0 -20px;
	font-family: "BankGothicMdBTMedium", "Futura", "Arial";
	font-size: 250px;
	opacity: .9;
	text-align: left;
	color: rgb(255, 255, 255);
	text-shadow: 0 0 30px rgb(0, 200, 255);
}
.white .digit.second:before {
	font-size: 110px;
}
.white .d0:before {content: "0";}
.white .hr12 .d0:first-child:before {display: none;}
.white .d1:before {content: "1";}
.white .d1 { width: 100px; }
.white .second.d1 { width: 40px; }
.white .d2:before {content: "2";}
.white .d3:before {content: "3";}
.white .d4:before {content: "4";}
.white .d5:before {content: "5";}
.white .d6:before {content: "6";}
.white .d7:before {content: "7";}
.white .d8:before {content: "8";}
.white .d9:before {content: "9";}
.white .text, .white .text a, .white .text a:visited {
	color: rgb(255, 255, 255);
	text-shadow: 0 0 10px rgb(255, 255, 255);
}
.white .ampm {
	float: right;
}
.text.font-ref {
	opacity: 0;
}
.white .font-ref {
	opacity: 1;
}

@media screen and (max-device-width: 800px) {
	.controls {
		margin-top: 40px;
		margin-bottom: 40px;
	}
	.controls .dot {
		height: 50px;
		width: 100px;
		border-radius: 25px;
		-moz-border-radius: 25px;
		margin-left: 40px;
	}
	.controls .text {
		font-size: 48px;
		margin: 0 40px;
	}
}