input {
	border-radius 	: 0px !important;	
} 
     
button {
	border-radius : 0px !important;
}

.form-control {
	border-color 	: @gray-border;
	color 			: @gray-input-text;
} 

.find-input {
	border-right : 0px; 
}

.form-group {
	margin-bottom : 10px;
}

/**
 * Botones 
 */
.btn {
	border 			: 0px;
	font-weight 	: 400;
	font-size 		: 11px;	
	color 			: @white;  
	padding-left	: 30px;
	padding-right 	: 30px;
	padding-top 	: 5px;
	padding-bottom 	: 5px;    
	&:hover {		
		color 		: @white;
	}
	&:focus {		
		color 				: @white;
		outline-width 		: 0px !important; 
	}	
	span.glyphicon {
		color 	: @gray-icon;
	}

	&.disabled,
	&[disabled] {
		background-color 	: @paginator-disabled; 
		border 				: 1px solid @paginator-disabled;	
		span {
			color			: @gray-head-footer;
		}	
	}
}

.btn-advance {
	width 	: 30px; 
}

.btn-default {
	background-color 		: @blue;
	border 					: 1px solid @blue;
	&:hover {
		border				: 1px solid @blue-dark;
		background-color 	: @blue-dark; 
	}
	&:focus {
		border 				: 1px solid @blue;
		background-color 	: @blue-dark; 		
	}
	span {		
		color : @white;
	}
	span.glyphicon {
		color : @white;
	}
}




.btn-success {	
	border 					: 1px solid @btn-success-border;
	&:hover {
		border				: 1px solid @btn-success-border;		
	}
	&:focus {
		border 				: 1px solid @btn-success-border;		
	}
	span {
		color : @white !important;
	}
}

.btn-order {
	color 					: @white;
	background-color 		: @btn-order-bg;
	border 					: 1px solid @btn-order-bg;
	&:hover {
		border				: 1px solid @btn-order-bg-hover;
		background-color 	: @btn-order-bg-hover; 
	}
	&:focus {
		border 				: 1px solid @btn-order-bg-hover;
		background-color 	: @btn-order-bg-hover; 		
	}
	span {
		color : @white;
	}
}



.btn-primary {
	color 					: @gray-text;
	background-color 		: @gray-head-footer;
	border 					: 1px solid @gray-head-footer;
	&:hover {
		color 				: @gray-text;
		border				: 1px solid @gray;
		background-color 	: @gray; 
	}
	&:focus {
		color 				: @gray-text;
		border 				: 1px solid @gray;
		background-color 	: @gray; 		
	}
	span {
		color : @gray-text;
	}
}

.btn-cancel-light {
	color 				: @gray-text;
	background-color 	: @gray-head-footer;
	border 				: 1px solid @gray-head-footer;
	&:hover {
		color 				: @gray-text;
		background-color 	: @gray-head-footer;
		border 				: 1px solid @gray-border;
	}
	&:focus {
		color 				: @gray-text;
		background-color 	: @gray-head-footer; 
		border 				: 1px solid @gray-border;
	}
}

.btn-cancel-dark {
	color 				: @white !important;
	background-color 	: @black;
	border 				: 1px solid @black;
	&:hover {
		color 				: @white;
		background-color 	: @black;
		border 				: 1px solid @white;
	}
	&:focus {
		color 				: @white;
		background-color 	: @black; 
		border 				: 1px solid @white;
	}
}

.btn-previus-dark {
	color 				: @white !important;
	background-color 	: @black;
	border 				: 1px solid @black;
	&:hover {
		color 				: @white;
		background-color 	: @black;
		border 				: 1px solid @btn-success-bg;
	}
	&:focus {
		color 				: @white;
		background-color 	: @black; 
		border 				: 1px solid @btn-success-bg;
	}
	span {
		color : @white !important;
	}
}

.btn-cancel-dark-light {
	color 				: @white;
	background-color 	: @black-light;
	border 				: 1px solid @black-light;
	&:hover {
		color 				: @white;		
		border 				: 1px solid @white;
	}
	&:focus {
		color 				: @white;
		background-color 	: @black-light; 
		border 				: 1px solid @white;
	}
}

.btn-close-mix(@fondoNormal, @fondoHover, @fondoActive, @borde) {
	background-color 	: @fondoNormal;
	border-left			: 1px solid @borde;	
	height 				: 46px; 

	&:hover {
		color 				: @white !important;
		background-color 	: @fondoHover !important;
	}
	&:focus {
		color 				: @white !important;
		background-color 	: @fondoActive !important; 
	}
}

.btn-close-dark {	
	.btn-close-mix(@black, @black-light, @black-light, @black-border);	
}

.btn-close-gray {	
	.btn-close-mix(@gray-head-footer, @gray-btn-focus, @gray-btn-active, @gray-border);	
}

.btn-red {
	.btn-close-mix(@btn-order-bg, @btn-order-bg-hover,@btn-order-bg, @btn-order-bg-hover);		
}

.btn-white {
	background-color 		: @white;
	border 					: 1px solid @white;
	color 					: @text-color;
	padding-left 			: 10px;
	padding-right 			: 10px;  
	&:hover {
		background-color 	: @white;
		border 				: 1px solid @gray-border;		
		color 				: @text-color;
	}  
	&:focus {
		background-color 	: @white;
		border 				: 1px solid @gray-border;		
		color 				: @text-color;
	}  
}

.btn-icon {
	padding-left	: 45px !important;
	padding-right 	: 45px !important;
	padding-top 	: 5px !important;
	padding-bottom 	: 5px !important;    
}

.btn-advance {
	border-top 				: 1px solid @gray-border; 
	border-bottom			: 1px solid @gray-border;	
	background-color 		: @white; 
	color 					: @black;
	padding-right 			: 5px;
	padding-left 			: 0px;  
	&:hover {
		background-color 	: @white; 		
		color 				: @gray; 
	}
	&:focus {
		background-color 	: @white;
		color 				: @black; 
	}
}

label {
	font-weight 	: 400;
	font-size 		: 13px;	  
}

label.light {
	color 	: @white; 
}

label.light-bold {
	font-weight 	:  600;	 
}

.form-mix(@colorFondoTitulo, @colorTitulo, @colorBorde, @colorFondoCuerpo,
		  @colorLabel, @footerPaddingTop, @footerPaddingBottom,
		  @fontWeightTitulo ,@fontSizeTitulo, @textTransformTitulo, 
		  @bodyPaddingBottom, @bodyPaddingBottomTop) {
	padding 			: 0px; 
	background-color	: @colorFondoTitulo;	

	div.row {
		border-bottom	: 1px solid @colorBorde; 
	}

	.form-title {	 
		height				: 46px;
		position 			: absolute;
		margin-right		: 30px;	
		border-bottom		: 0px !important; 
		span {
			padding-left	: 20px; 
			line-height		: 46px; 
			color 			: @colorTitulo;
			font-weight 	: @fontWeightTitulo;
			font-size 		: @fontSizeTitulo;
			text-transform	: @textTransformTitulo;
			span {
				color 		: @white;
				padding-left: 0px !important; 
			}
		}				
	}
 
	.form-body {
		div.subtitle{
			border-bottom : 1px solid white;
			text-transform: capitalize;
			span {
				font-weight 	: 300;
				font-size 		: 18px;	
				color 			: @colorLabel !important;	
			}
		}
		
		background-color	: @colorFondoCuerpo;
		padding-top 		: @bodyPaddingBottomTop;
		padding-bottom 		: @bodyPaddingBottom;
		border-bottom 		: 1px solid @colorBorde;   

		label {
			color 			: @colorLabel !important;
			line-height		: 	30px;			
		}	

		label.key {
			color 		: @blue !important;
			line-height : 1.5em;  
		}
		label.value {
			color 		: @colorLabel !important;				
			line-height : 1.5em;  
		}
	}

	.form-footer {
		background-color	: @colorFondoCuerpo; 
		float 				: right;
		padding-top 		: @footerPaddingTop; 
		padding-bottom 		: @footerPaddingBottom; 
		width 				: 100%; 
	}
}


div.input {
	padding 		: 0px 5px;
	border 			: 1px solid @gray-border;
	height: 30px;
	label 			{
		font-weight : 600;
		line-height : 30px;  
	} 
}

/* Formulario Simple */
#contenedorFormularioSimple {		
	z-index				: 2;
	position 			: fixed;	
	bottom 				: 0;
	right 				: 0;  	
	.form-mix(@black, @blue, @black-border, @black-light, @white, 7px, 7px, 800, 16px, uppercase,20px,20px);	
	.vertical-scroll::-webkit-scrollbar-track
	{
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	    background-color: #4a4a50;
	}	
}

/* Formulario Simple */
#contenedorFormularioBusquedaAvanzada {		
	left	: 0px !important;  	
	.popover-content {
		padding: 0px;
	}
	.form-mix(@gray-head-footer, @gray-text, @gray-border, @white, @gray-text, 7px, 7px, 300, 18px, capitalize, 20px, 20px);	
}

#contenedorFormularioBusquedaAvanzadaCuerpo{
	left	: 40px !important;  	
	.popover-content {
		padding: 0px;
	}
	.form-mix(@gray-head-footer, @gray-text, @gray-border, @white, @gray-text, 7px, 7px, 300, 18px, capitalize, 20px, 20px);	
}

#contenedorFormularioCuerpo {
	border-left: 1px solid @gray-border;
	.form-mix(@black, @blue, @gray-border, @white, @gray-text, 7px, 7px, 800, 16px, uppercase, 20px, 20px);
}

/* CSS utilizado para desplegar las ventanas modales */
.modal-content {	
	border-radius: 0px !important;	
	.form-mix(@gray-head-footer, @gray-text, @gray-border, @white, @gray-text, 7px, 7px, 300, 18px, capitalize,20px,20px);
	span.modal-title-id {
			padding-left	: 0px; 
			line-height		: 46px; 
			color 			: @blue !important;
			font-weight 	: 18px;
			font-size 		: 300;
			text-transform	: uppercase;
		}
}

.fixed-avanzada {
	position: fixed;
	top : 64px !important;
}

.header-active-nav-form{	
	span {
		padding-left: 0px !important;
	}
	> a {
		padding: 0px !important;
		border:0px !important;
		margin : 0px !important;
		> button{
			background-color: @black-light;
			width : 100%; 
			height : 46px; 
			padding : 0px; 				
			div.cont-icono-tab{
				width: 30px;
				text-align: center;
				float: left;	
			}
			div.cont-text-tab{
				text-align: left;
			}
			div.accion{
				float: right;
				width: 30px;
				background-color: @blue;
				> span{
					color: white !important;
					font-size: 11px !important;
					padding-left:  0px !important;
				}
				&:hover{
					background-color: @blue-dark;	
				}
			}
		}
	}
}

.header-inactive-nav-form{
	width: 30px !important;
	span {
		padding-left: 0px !important;
	}
	a {
		padding: 0px !important;
		border:0px !important;
		margin : 0px !important; 

		button{
			width : 100%; 
			height : 46px; 
			padding : 0px; 				
			background-color: @black;
			div.cont-text-tab{
				display: none;
			}
			div.accion{
				display: none;
			}
		}
	}
}

.circulo-mix(@backgroud, @diameter, @marginTop){
	background-color: @backgroud; 
	height:@diameter; 
	width:@diameter; 
	border-radius : 50%; 
	margin-top:@marginTop;
	cursor:pointer;

	/* Aqui colocamos la transicion para cada navegador */
	-webkit-transition:all .25s ease-out;  /* Chrome y Safari */
	-o-transition:all .25s ease-out;  /* Opera */
	-moz-transition:all .25s ease-out;  /* Mozilla Firefox */
	-ms-transition:all .25s ease-out;   /* Internet Explorer */
	transition:all .25s ease-out;  /* W3C */
}

.boton-circular-mix(@color-externo, @color-interno){
	.circulo-mix(@color-externo, 210px, 55px);

	.circle-internal{
		top : 42.5px; 
		position: relative;
		.circulo-mix(@color-interno, 125px, 55px);
		span{
			text-align:center; 
			font-size: 40px;
			color:#ffffff;
			line-height: 125px;
			vertical-align:middle;
			cursor:pointer;
		}
	}
	&:hover{
		.circulo-mix(@color-interno, 210px, 55px);

		.circle-internal{
			.circulo-mix(@color-externo, 125px, 55px);		
		}
	}
	&.disabled,
	&[disabled]{	
		cursor: default;
		background-color: @gray-btn-active;
		.circle-internal{
			cursor: default;
			background-color: @gray-btn-active;
			span{
				cursor: default;;
			}
		}
	}	
}

.boton-circle-add{
	.boton-circular-mix(@blue, @blue-dark);
}

.boton-circle-accion{
	.boton-circular-mix(@orange-light-form, @red-light-form);
}

.perfil-action{
	div.info{
		padding-left:  15px;
		margin-left : -15px !important;
		margin-right: -20px !important;
		border-bottom:1px solid #303030;
	}
	div.accion{
		margin-left : -15px !important;
		margin-right: -20px !important;

		border-bottom:1px solid #303030;
		div{
			padding-left  : 15px;
			padding-top: 12px;
			padding-bottom: 12px;
			cursor:pointer;
			span{
				font-weight:400;
				padding-right:12px;
				color:#c2c2c2;
				cursor:pointer;
			}
			span{
				font-weight:400;
				font-size:12px;
				color:#c2c2c2;
				cursor:pointer
			}
		}
		div:hover{
			background-color: #4a4a50;
			padding-top: 12px;
			padding-bottom: 12px;
			cursor:pointer;
			span{
				font-weight:400;
				padding-right:12px;
				color:white;
				cursor:pointer;
			}
			span{
				font-weight:400;
				font-size:12px;
				color:white;
				cursor:pointer
			}
		}
	}
}



.info-detalle{
	background-color: @gray-head-footer;
	padding: 10px;
	.contenedor-top{
		border-bottom:1px solid @gray-icon;
		padding-bottom: 5px;

	}
	.contenedor{
		padding-top: 5px;
		border-bottom:1px solid @gray-icon;
		padding-bottom: 5px;
	}
	.contenedor-bottom{
		padding-top: 5px;
	}

	.campo{
		font-weight: 600;
		font-size: 11px;
		color: @blue;

	}
	.info{
		font-weight: 400;
		font-size: 14px;
		color: @gray-text;
	}
}