

.mensaje-container {	 
	text-align 		: center; 
	position		: fixed;
	z-index 		: 3;
	background-color: white;
	width 			: 50%;
	top 			: 0px;
	display 		: none; 
	span.titulo-mensaje {
		font-weight	: 600; 		
	}

	span.descripcion-mensaje {
		font-weight	: 400; 
		font-size 	: 13px;
	}

	button.close {
		color 			: @red-msg !important; 	
		font-weight		: 600; 
		font-size 		: 14px; 
		margin-top 		: 20px;
		margin-right 	: 20px;
	}
}

.mensaje-exito {	
	padding-top 		: 20px;
	padding-bottom		: 20px;
	background-color	: @green-light-msg;
	span {
		color 			: @green-msg !important; 	
	}
}

.mensaje-error {	
	padding-top 		: 20px;
	padding-bottom		: 20px;
	background-color	: @red-light-msg;	
	span {
		color 			: @red-msg !important; 	
	}
}

.mensaje-advertencia {	
	padding-top 		: 20px;
	padding-bottom		: 20px;
	background-color	: @yellow-light-msg;
	span {
		color 			: @yellow-msg !important; 	
	}
	button.btn-advertencia {
		background-color	: @yellow-button-msg;
		border				: 1px solid @yellow-normal-msg;
		color 				: @yellow-msg;  
		&:hover {
			border 			: 1px solid @yellow-hover-msg; 
		}
		&:focus {
			background-color	: @yellow-hover-msg;
			border 				: 1px solid @yellow-hover-msg;
			color 				: #f3dfa8;			
		}
	}
}