.menu {
	background-color 	: @black;
	padding-left 		: 0px;
	padding-right 		: 0px; 

	button.btn-menu {
		width 			: 50px; 
		padding-top 	: 12px;
		padding-bottom 	: 12px;  
		padding-left 	: 0px; 
		padding-right 	: 0px; 		
		background-color: @black;		

		span {
			font-size 	: 16px;
			color 		: @white;
			&:hover {
				color 	: @gray-text-menu;
			}
		}		

		&:hover{
			background-color	: @black-light;
			span {
				color 			: @gray-text-menu;
			}
		}
		&:focus{
			background-color	: @black-light;						
			span {
				color 			: @gray-text-menu;
			}			
		}
	}	

	button.btn-menu-selected {
		height 				: 80px;
		background-color	: @black-light;
		border-top 			:  1px solid #303030;
		border-bottom		:  1px solid #303030;
		span {
			color 			: @blue;					
		}		
	}	

	button.btn-menu-active {
		height 				: 80px;
		background-color	: @black-light;
		border-top 			: 1px solid #303030;
		border-bottom		: 1px solid #303030;
		span {
			color 			: @blue;			
		}		
	}		
}

.submenu {
	max-width 			: 224px; 
	width 				: 224px; 
	border-radius		: 0px; 
	left 				: 39px !important;
	background-color 	: @black-light;	

	span {
		color 				: @blue;
		font-weight 		: 800;
		font-size 			: 14px;  
		text-transform		: uppercase;
	}

	.aplicacion {
		padding-left 	: 15px;
		padding-right 	: 15px;
		display 		: block !important;
		&:hover {
			//background-color 	: @blue-dark; 
		}
	}

	.selected {		
		color 			: @blue;
		font-weight 	: 600; 
		&:hover {
			color : @gray-text-menu;
		}
	}

	a {
		color 			: @white;
		font-weight 	: 400;
		font-size 		: 11px;  
		text-decoration : none; 
		&:active {
			color : @white;
		}
		&:visited {
			color : @white;
		}
		&:hover {
			color : @gray-text-menu;
		}
	}
}