.btn-paginador {	
	background-color 	: @gray-head-footer;
	border 				: 1px solid @paginator-disabled;
	padding-left 		: 0px;
	padding-right 		: 0px; 
	width 				: 33px;  
	span {
		color			: @gray-icon;
	}
	&:hover {			
		background-color 	: @gray-head-footer;
		border 				: 1px solid @gray-icon;
		span {
			color			: @gray-icon;
		}
	}
	&:focus {		
		background-color 	: @gray-btn-focus; 
		border 				: 1px solid @gray-icon;
		span {
			color			: @gray-icon;
		}
	}
	&:disabled {		
		background-color 	: @paginator-disabled; 
		border 				: 1px solid @paginator-disabled;	
		span {
			color			: @gray-head-footer;
		}
	}
}