@import "bootstrap/bootstrap.less";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,800,700);
@import "form.less";
@import "menu.less";
@import "paginador.less";
@import "table.less";
@import "mensajes.less";
// Typeahead
@import "typeahead.less";

//Chosen
@import "bootstrap-chosen";

//DateTimePicker
@import "bootstrap-datetimepicker";

@import "toolbar";

@import "display";


 
// Establecemos las variables de estilo globales.
@font-open-sans     : 'Open Sans', Helvetica, sans-serif;
@font-family-base   : @font-open-sans; 
 
// Establecemos algunos de los colores a utilizar.
@gray 					: #D6D6D6;
@gray-head-footer 		: #F3F3F3;
@gray-text-title 		: #7B7B7B;
@gray-text 				: #5F5F5F;
@gray-text-2 			: #777777;
@gray-input-text 		: #474747;
@gray-icon 				: #ACACAC;
@gray-border 			: #AAAAAA;
@gray-text-menu 		: #B4B4B4;
@gray-btn-focus 		: #E6E6E6;
@gray-btn-active 		: #D9D9D9;
@gray-background-odd 	: #BEBEBE;

@paginator-disabled 	: #D9D9D9;

@black 					: #1C211C;
@black-light 			: #303530;
@black-border 			: #303030;
@black-circular			: #403F45;
@black-blue				: #155867;

@white 					: #FFFFFF;

@blue 					: #FF6600;
@blue-dark 				: #e14800;
@blue-odd 				: #2090A8;
@blue-odd-dark 			: #0E505E;

@text-color 			: @gray-text;
// Placeholder
@gray-light 			: #AAAAAA;
@error-background 		: #F5D4DA;

@gray-light-background 	: #787878;
@red-error				: #E83737;

//Mensajes
@green-msg 				: #7BB015;
@green-light-msg 		: RGBA(164, 228, 40, 0.4);
@yellow-msg 			: #A0780C;
@yellow-light-msg 		: RGBA(228, 177, 40, 0.4);
@yellow-button-msg 		: RGBA(228, 177, 40, 0.0);
@yellow-hover-msg 		: #A0780C;
@yellow-normal-msg 		: #D6B970;
@red-msg 				: #841E06;
@red-light-msg 			: RGBA(228, 76, 40, 0.4);

//Form
@orange-light-form 		: #F7C7AC;
@red-light-form 		: #EC7230;
@green-light-form 		: #15D96D;
@green 					: #0BB959;

//button close submenu
@red-light 				: #EBB6A9; 
@red 					: #8B2A1B;


//
@btn-success-bg 		: @green;

body {
	-ms-overflow-style: scrollbar;
}

.row {
	margin-left 	: 0px;
	margin-right 	: 0px;
}

.head {
	background-color 	: @gray !important;
	height 				: 35px;
	width               : 100%;
	padding-left 		: 20px;
	padding-right 		: 20px;  
	#spnUsername {
		font-size 		: 11px;
		font-weight 	: 400;  		
		color 			: #505050;
		overflow-y 		: scroll;
	} 
}

.main-content {

}

.content {
	padding-left 	: 20px;
	padding-right	: 20px;  
}

.filter {
	background-color 	: @gray-head-footer;
	padding-top 		: 15px;
	padding-bottom 		: 15px;  
    label {
        line-height     : 30px; 
        margin-bottom   : 0px; 
    }
}

.title {	
	margin-top 		: 20px; 
	font-weight 	: 800;
	font-size 		: 18px;  
	color 			: @gray-text-title;
	text-transform	: uppercase;
}

.blue {    
  color       : @blue !important;  
}

.title-light {	
	margin-top 		: 20px; 
	font-weight 	: 800;
	font-size 		: 18px;  
	color 			: @white;
	text-transform 	: uppercase;
}

#contenedorLateral {
	right 				:  0px;	
}

.content-lateral {
	padding-left 		: 15px !important;
	padding-right 		: 20px !important;
	background-color 	: @black;	
	padding-left 		: 0px;
	padding-right 		: 0px; 	
}

div.footer {	
	background-color 	: @black;			
	margin-right 		: auto;	 
	float 				: right;	
}

#footer {
	height 			: 45px;	
	line-height 	: 45px; 	
	button {
		vertical-align 	: middle; 
	}
}

span.title-listado {
	font-weight 	: 300;
	font-size 		: 18px;	
}

span.opciones-listado {
	color 	: @blue;
	cursor 	: pointer;
}

.fixed {		
	left 				: 50px;
	right 				: 0;
	top 				: 0;
	z-index 			: 1;
	position 			: fixed !important;	
	-webkit-box-shadow 	: 0px 5px 5px 0px  rgba(50, 50, 50, 0.3);
	-moz-box-shadow 	: 0px 5px 5px 0px  rgba(50, 50, 50, 0.3);
	box-shadow 			: 0px 5px 5px 0px  rgba(50, 50, 50, 0.3);
}

.fixed-menu {		
	left 				: 0px;
	right 				: 0;
	top 				: 0;
	z-index 			: 1;
	position 			: fixed !important;	
}

.to-left {
	margin-right 	: percentage((3 / @grid-columns)) !important;
}

.text-not-result{
  font-family: @font-open-sans;
  color : @gray-text;
  font-size: 20px;
  font-weight: 300;
}

/*** CARGANDO ***/
#overlay {
  background: @black;
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

#overlay ul {
  padding: 0; 
  margin: 300px auto 0;
  list-style: none;
  text-align: center;
  display: block;
}

#overlay ul li {
  width: 10px;
  height: 10px;
  background-color: white;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  display: inline-block;
  border-radius: 50%;
  margin: 0 4px;
  -webkit-animation: loading 2.5s infinite;
  -moz-animation: loading 2.5s infinite;
  -o-animation: loading 2.5s infinite;
  -ms-animation: loading 2.5s infinite;
  animation: loading 2.5s infinite;
  
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  
  -webkit-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
  -moz-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
  -o-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
  -ms-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
  animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
}

#overlay ul li.li6  {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

#overlay ul li.li5 {
  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  -o-animation-delay: 0.25s;
  -ms-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
#overlay ul li.li4 {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
#overlay ul li.li3 {
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
  -o-animation-delay: 0.75s;
  -ms-animation-delay: 0.75s;
  animation-delay: 0.75s;
}
#overlay ul li.li2  {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  -ms-animation-delay: 1s;
  animation-delay: 1s;
}
#overlay ul li.li1  {
  -webkit-animation-delay: 1.25s;
  -moz-animation-delay: 1.25s;
  -o-animation-delay: 1.25s;
  -ms-animation-delay: 1.25s;
  animation-delay: 1.25s;
}



/*** CARGANDO ***/
#small-overlay {
  width: 100%;
  height: 40px;
}

#small-overlay ul {
  padding: 0; 
  margin:0 auto 0;
  list-style: none;
  text-align: center;
  display: block;
}

#small-overlay ul li {
  width: 5px;
  height: 5px;
  background-color: @black;
  box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  display: inline-block;
  border-radius: 50%;
  margin: 0 4px;
  -webkit-animation: loading 2.5s infinite;
  -moz-animation: loading 2.5s infinite;
  -o-animation: loading 2.5s infinite;
  -ms-animation: loading 2.5s infinite;
  animation: loading 2.5s infinite;
  
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  
  -webkit-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
  -moz-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
  -o-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
  -ms-animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
  animation-timing-function: cubic-bezier(0.030, 0.615, 0.995, 0.415);
}

#small-overlay ul li.li6  {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -o-animation-delay: 0.1s;
  -ms-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

#small-overlay ul li.li5 {
  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  -o-animation-delay: 0.25s;
  -ms-animation-delay: 0.25s;
  animation-delay: 0.25s;
}
#small-overlay ul li.li4 {
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
  -ms-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
#small-overlay ul li.li3 {
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
  -o-animation-delay: 0.75s;
  -ms-animation-delay: 0.75s;
  animation-delay: 0.75s;
}
#small-overlay ul li.li2  {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  -ms-animation-delay: 1s;
  animation-delay: 1s;
}
#small-overlay ul li.li1  {
  -webkit-animation-delay: 1.25s;
  -moz-animation-delay: 1.25s;
  -o-animation-delay: 1.25s;
  -ms-animation-delay: 1.25s;
  animation-delay: 1.25s;
}












@-webkit-keyframes loading {
  0% {-webkit-transform: translateX(-30px); opacity: 0}
  25% {opacity: 1}
  50% {-webkit-transform: translateX(30px); opacity: 0}
  100% {opacity: 0}
}

@-moz-keyframes loading {
  0% {-moz-transform: translateX(-30px); opacity: 0}
  25% {opacity: 1}
  50% {-moz-transform: translateX(30px); opacity: 0}
  100% {opacity: 0}
}

@-o-keyframes loading {
  0% {-o-transform: translateX(-30px); opacity: 0}
  25% {opacity: 1}
  50% {-o-transform: translateX(30px); opacity: 0}
  100% {opacity: 0}
}

@-ms-keyframes loading {
  0% {-ms-transform: translateX(-30px); opacity: 0}
  25% {opacity: 1}
  50% {-ms-transform: translateX(30px); opacity: 0}
  100% {opacity: 0}
}

@keyframes loading {
  0% {-ms-transform: translateX(-30px); opacity: 0}
  25% {opacity: 1}
  50% {-ms-transform: translateX(30px); opacity: 0}
  100% {opacity: 0}
}


// Scroll
.vertical-scroll {
  overflow-y : auto;
}

.vertical-scroll::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
    background-color: @white;
}

.vertical-scroll::-webkit-scrollbar
{
    width: 7px;
    background-color: @white;
}

.vertical-scroll::-webkit-scrollbar-thumb
{
    background-color: @black;
}


.table-hover {
  > tbody > tr:hover {
    > td,
    > th {
      background-color: @table-bg-hover;
    }
  }
}