@table-bg-accent 	: #f3f3f3; 
@table-bg-hover 	: #ebebeb;
@table-bg-active 	: #b2e4ef;

table {
	border-bottom : 1px solid @gray-border; 
	margin-bottom: 0px;
}

thead > tr > th {	
	font-size 	: 12px;
	font-weight : 400; 
	border-top 	: 0px !important; 
	height 		: 28px; 
}

tbody > tr > td {	
	font-size 	: 11px;
	font-weight : 400; 
	border-top 	: 0px !important; 
	height 		: 28px; 
}

.table > thead > tr > th {
	border-bottom 	: 1px solid @gray-border; 
	font-weight 	: 600; 
}

td.action-row{
	width: 27px !important;
	text-align: center;
	span{
		display: none;
		color: @white;
	}
}

td.btn-close {
	width: 27px !important;
	text-align: center;
	span{
		display: none;
	}
}

tr:hover {
	
	td.action-row{
		background-color: @blue !important;		
		span{
			display: inline-block;
			color: @white;
		}
	}
	
	td.btn-close {
		background-color 		: @gray-head-footer !important;
		border 					: 1px solid @gray-icon !important;		
		&:hover {
			border				: 1px solid @red-light !important;
			background-color 	: @red-light !important; 
			span {		
				color : @red;
				display: inline-block;
			}

		}
		span {
			display: inline-block;
			color : @gray-icon;
		}
	}
}

.table-non-cursor{
	tbody > tr{
		cursor: auto;
	}
}


.row-focus{
	border: 1px solid white;
	border-top: 1px solid white !important;
}