.tool-container {	
	background-color 	: @black;	
	background-size 	: 100% 100%;	
	border-radius 		: 3px;
	box-shadow 			: 0px 5px 5px 0px rgba(50, 50, 50, 0.3);
	position 			: absolute;			
}

.tool-container.tool-top, .tool-container.tool-bottom {
	height 			: 34px;
	border-bottom 	: 1px solid #beb8b8 ; /* #B1A9A9 */
}

.tool-items {
	height 	: 100%;	
	a {
		color 	: @white;
	}
}

.tool-top .tool-item, .tool-bottom .tool-item {
	float 	: left;
}

.tool-left .tool-item, .tool-right .tool-item {
	height 			: 34px;
	border-top 		: 1px solid #e2dfdf;
	border-bottom 	: 1px solid #9f9898;
}


.tool-item {
	height 				: 100%;
	display 			: block;				
	width 				: 44px;
	text-align 			: center;
	background-color 	: @black;	
	i {
		line-height	 	: 33px;
		vertical-align 	: middle;
	} 
}

.tool-item:first-child {
	border-left 	: none;
}

.tool-left .tool-item:first-child, .tool-right .tool-item:first-child {
	border-top 	: 1px solid transparent;
}

.tool-item:last-child {
	border-right 	: none;
	border-bottom 	: none;
}

.tool-item.selected, .tool-item:hover  {
	background 	: @black-light;	
}

.tool-top .tool-item:last-child:hover, .tool-bottom .tool-item:last-child:hover {
	border-top-right-radius 	: 0px;
	border-bottom-right-radius 	: 0px;
}

.tool-top  .tool-item:first-child:hover, .tool-bottom  .tool-item:first-child:hover {
	border-top-left-radius 		: 0px;
	border-bottom-left-radius 	: 0px;
}

.tool-left .tool-item:last-child:hover, .tool-right .tool-item:last-child:hover {
	border-bottom-right-radius 	: 0px;
	border-bottom-left-radius 	: 0px;
}

.tool-left .tool-item:first-child:hover, .tool-right .tool-item:first-child:hover {
	border-top-right-radius 	: 0px;
	border-top-left-radius 		: 0px;
}

.tool-container .arrow {
	width 			:0;
	height 			:0;
	position 		: absolute;	
	border-width 	:7px;
	border-style 	:solid;
}

.tool-container.tool-top .arrow {
	border-color 	: @black transparent transparent; 
	left 			: 50%;  
	bottom 			: -14px;
	margin-left 	: -7px;
}

.tool-container.tool-bottom .arrow {
	border-color 	: transparent transparent #e2dfdf; 
	left 			: 50%;  
	top 			: -14px;
	margin-left 	: -7px;
}

.tool-container.tool-left .arrow {
	border-color 	: transparent transparent transparent #E9E5E5;
	top 			: 50%;
	right 			: -14px;
	margin-top 		: -7px;
}

.tool-container.tool-right .arrow {
	border-color 		: transparent #E9E5E5 transparent transparent;
	top 				: 50%;
	left 				: -14px;
	margin-top 			: -7px;
}

.demo-link {
	color 				: @blue;
	text-decoration 	: underline;
	cursor 				: pointer;
	margin-left 		: 30px;
}

.demo-link:hover {
	text-decoration 	: none;
	cursor 				: pointer;
}
