.tt-dropdown-menu,
.gist {
  text-align: left;
}

.typeahead,
.tt-query,
.tt-hint {
  /**width: 396px;**/
  height: 30px;
  padding: 8px 12px;
  font-size: @font-size-small;
  line-height: 19px;
  border: 2px solid #ccc;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.twitter-typeahead{
	width: 100% !important;	
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-dropdown-menu {
  /*width: 422px;*/
  /* margin-top: 12px; */
  /* padding: 8px 0; */
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 13px;
  line-height: 19px;
  margin-right: 4px;
  margin-left: 4px;
}

.tt-suggestion.tt-cursor {
  p {
    color: #fff;
  }
  background-color: @blue;

}

.tt-suggestion p {
   margin: 0; 
}

.tt-dataset-my-dataset{
  p {
      color: @gray-input-text;
      font-size: @font-size-small;
    }

}