<div id="contenedorTemplateBase" class="container-fluid" style="padding-left : 0px; padding-right : 0px;">
	<div id="contenedorGlobal" class="col-xs-12" style="height : 100vh; padding-left : 0px; padding-right : 0px;">		
		<div class="row">			
			<!-- Menu -->
			<div id="mainMenu" class="menu" style="width : 50px; position : absolute;">
			</div>
			<!-- FIN Menu -->

			<!-- Contenido principal -->				
			<div id="mainContent" class="main-content" style="margin-left : 50px;">					
				<!-- Header -->
				<div id="header" class="row head">
					<span class="title" id="titulo-seccion" style="height: 35px; line-height: 35px;"></span>
				</div>
				<!-- FIN Header-->
				<div id="mainForm"></div>
				<div id="mainList" class="vertical-scroll"></div>
			</div>
			<!-- FIN Contenido principal -->
		</div>	
	</div>	
</div>