<!-- Formulario Principal -->
<div class="row" style="position : relative;">
	<div style="margin-right : 30px;">
		<div class="row filter">	
			<div class="row content">
				<span id="title-form" class="title"><%=titulo%></span>
			</div>

			<div class="row content">
				<div class="col-xs-7" style="padding-left : 0px; padding-right : 0px;">
					<div class="input-group input-group-sm" style="padding-top:5px;">
						<input id="txtBuscar" type="text" class="form-control find-input" placeholder="¿Buscas algo en particular?" autofocus/>
						<span id="formulario-busqueda"  class="input-group-btn">
							<button id="btnBusquedaAvanzada" type="button" class="btn btn-advance" title="B&uacute;squeda avanzada">
								<span class="glyphicon glyphicon-chevron-down"></span>
							</button>		
							<button id="btnBuscadorPrincipal" class="btn btn-default btn-icon" type="button" title="Buscar">
								<span class="glyphicon glyphicon-search"></span>	
							</button>
						</span>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<div style="width : 30px;  position : absolute; right : 0; top : 0;">
		<button id="btnExportarElemento" class="btn btn-default" style="width : 100%; height : 65px; padding : 0px;" title="Descargar Excel" data-placement="left" >
			<span class="glyphicon glyphicon-save"></span>
		</button>
	</div>
</div>
<!-- FIN Formulario Principal -->

<!--Sin datos-->
<div id="sinDatos" class="content" style="display:none; padding-top : 25px;">
	<img src="/style/img/not-found.png" style="float: left;margin-right: 15px;">
	<p class="text-not-result" style="margin-bottom: 0px;">Lo sentimos!</p>
	<p class="text-not-result"> No hemos encontrado resultados</p>
</div>

<!-- Paginador -->
<div id="contenedorPaginador" class="row content" style="padding-top : 25px; padding-bottom : 20px; background-color : white;">
	<div class="col-xs-9" style="padding : 0px;">
		<span class="opciones-listado glyphicon glyphicon-align-justify" style="display : none;"></span>
		<span class="title-listado"></span>
		<% _.each(estados, function(estado) { %>
			<div class="simbologia-<%=estado.codigo%> circle" codigo="<%=estado.codigo%>" data-toggle="popover" style="cursor:pointer;"></div>
			<span class="simbologia-name"><%=estado.nombre%></span>	
		<%});%>		
	</div>
	<div class="col-xs-3" style="padding : 0px;">
		<div style="float : right;">
			<div style="float:left;margin-right:4px;">
				<button id="btnLabelPaginador" class="btn btn-white" data-toggle="popover"></button>
			</div>
			<div class="btn-group">
				<button id="btnPrevPaginador" class="btn btn-paginador">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</button>
				<button id="btnNextPaginador" class="btn btn-paginador">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</button>
			</div>
		</div>
	</div>
</div>
<!-- FIN Paginador -->