<% _.each(aplicaciones, function(aplicacion) { %>
<button id="modulo<%=aplicacion.idModulo%>" class="btn btn-menu" data-show-submenu="false" data-url="<%=aplicacion.url%>">
	<span class="<%=aplicacion.icon%>"></span>
</button>
<% }); %>