<div class="col-xs-12" style="padding : 0px;">
	<div class="row">
		<div class="row form-title">
			<span>b&uacute;squeda avanzada</span>
		</div>
		<div style="width : 30px; float : right;">
			<button id="btnCerrarFormularioAvanzada" class="btn btn-close-gray" style="width : 100%; padding : 0px;">
				<span class="glyphicon glyphicon-remove"></span>
			</button>
		</div>	
	</div>

	<div class="row content form-body">
		<form id="formBusquedaAvanzada" role="form">	

			<div class="row" style="border:0px;">
				<div class="form-group col-xs-6" style="padding-right:6.5px;">
					<label class="light">Productor</label>
					<div>
						<input id="txt-productor" placeholder="Nombre o C&oacute;digo"  type="text" class="form-control input-sm" tabindex="1"/>
					</div>
				</div>
				
				<div class="form-group col-xs-6" style="padding-left:6.5px;">
					<label class="light">C&oacute;digo lote</label>
					<input id="txt-codigoLote" type="text" class="form-control input-sm" value="" tabindex="2"/>
				</div>
			</div>

			<div class="row" style="border:0px;">
				<div class="form-group col-xs-6" style="padding-right:6.5px;">
					<label class="light">Desde</label>
					<div class="input-group input-group-sm calendar">
						<input id="txt-desde" class="form-control input-sm" placeholder="Fecha Desde" data-format="dd-MM-yyyy " type="text" tabindex="3"></input>
						<span class="add-on input-group-btn">
							<button class="btn btn-default">
								<span class="glyphicon glyphicon-calendar"></span>
							</button>
						</span>
					</div>
				</div>

				<div class="form-group col-xs-6" style="padding-left:6.5px;">
					<label class="light">Hasta</label>
					<div class="input-group input-group-sm calendar">
						<input id="txt-hasta" class="form-control input-sm" placeholder="Fecha Hasta" data-format="dd-MM-yyyy " type="text" tabindex="3"></input>
						<span class="add-on input-group-btn">
							<button class="btn btn-default">
								<span class="glyphicon glyphicon-calendar"></span>
							</button>
						</span>
					</div>
				</div>							
			</div>
		</form>	
	</div>

	<div class="row content form-footer text-center">
		<div>
			<button id="btnBuscarAvanzado" class="btn btn-default btn-icon" title="Buscar" tabindex="5">
				<span class="glyphicon glyphicon-search"></span>	
			</button>		
		</div>
	</div>
</div>