<div class="row">
	<div id="contenedorListado" class="col-xs-12  content">		
		<div class="row">
			<table class="table table-striped table-condensed table-hover">
				<thead>
					<tr>	
						<th>C&oacute;digo Productor</th>
						<th>Productor</th>			
						<th>C&oacute;digo Lote</th>
						<th>Fecha &Uacute;ltimo Registro</th>					
						<th>Peso Total</th>
						<th>Tara Total</th>
						<th>Peso Neto Total</th>
					</tr>
				</thead>
				<tbody>
				<%				
					_.each(lotes, function(lote) {
						
				%>
					<tr>
						<td><%=lote.codigoProductor%></td>					
						<td><%=lote.productor%></td>
						<td><%=lote.codigoLote%></td>
						<td><%=lote.fecha%></td>
						<td><%=Math.round(lote.peso*10)/10%></td>
						<td><%=lote.taraTotal%></td>
						<td><%=Math.round((Math.round(lote.peso*10)/10 - lote.taraTotal)*10)/10%></td>
					</tr>
				<%
					});
				%>
				</tbody>
			</table>
		</div>
	</div>
</div>
