<div class="row content" style="color : #ffffff; font-size : 30px; font-weight : bold; background-color : #000;">	
	<div class="row" style="padding-top : 30px;">
		<div class="col-xs-6" > 
			<div>			
					<span style="margin:0 auto;">Peso Capturado</span>			
			</div>

			<div class="display">
				<div class="display-area digit d<%=registro.peso[(registro.peso.length-6)]%>">
					<div class="element bar center top"></div>
					<div class="element bar center middle"></div>
					<div class="element bar center bottom"></div>
					<div class="element bar left top"></div>
					<div class="element bar left bottom"></div>
					<div class="element bar right top"></div>
					<div class="element bar right bottom"></div>
				</div>
				<div class="display-area digit d<%=registro.peso[(registro.peso.length-5)]%>">
					<div class="element bar center top"></div>
					<div class="element bar center middle"></div>
					<div class="element bar center bottom"></div>
					<div class="element bar left top"></div>
					<div class="element bar left bottom"></div>
					<div class="element bar right top"></div>
					<div class="element bar right bottom"></div>
				</div>
				<div class="display-area digit d<%=registro.peso[(registro.peso.length-4)]%>">
					<div class="element bar center top"></div>
					<div class="element bar center middle"></div>
					<div class="element bar center bottom"></div>
					<div class="element bar left top"></div>
					<div class="element bar left bottom"></div>
					<div class="element bar right top"></div>
					<div class="element bar right bottom"></div>
				</div>
				<div class="display-area digit d<%=registro.peso[(registro.peso.length-3)]%>">
					<div class="element bar center top"></div>
					<div class="element bar center middle"></div>
					<div class="element bar center bottom"></div>
					<div class="element bar left top"></div>
					<div class="element bar left bottom"></div>
					<div class="element bar right top"></div>
					<div class="element bar right bottom"></div>
				</div>
				<div class="display-area sep colon on">				
					<div class="element bar bottom"></div>
				</div>
				<div class="display-area digit d<%=registro.peso[(registro.peso.length-1)]%>">
					<div class="element bar center top"></div>
					<div class="element bar center middle"></div>
					<div class="element bar center bottom"></div>
					<div class="element bar left top"></div>
					<div class="element bar left bottom"></div>
					<div class="element bar right top"></div>
					<div class="element bar right bottom"></div>
				</div>
			</div>
		</div>

		<% var largoTotal = registro.pesoTotal.length;%>
		<div class="col-xs-6" style="padding-left: 150px;">
			<div class="row">
				<div >			
						<span style="margin:0 auto;">Peso Total Acomulado</span>			
				</div>
				<div class="display">					
					<div class="display-area second2 digit d<%=registro.pesoTotal[(largoTotal-9)]%>">
						<div class="element bar center top"></div>
						<div class="element bar center middle"></div>
						<div class="element bar center bottom"></div>
						<div class="element bar left top"></div>
						<div class="element bar left bottom"></div>
						<div class="element bar right top"></div>
						<div class="element bar right bottom"></div>
					</div>
					<div class="display-area second2 digit d<%=registro.pesoTotal[(largoTotal-8)]%>">
						<div class="element bar center top"></div>
						<div class="element bar center middle"></div>
						<div class="element bar center bottom"></div>
						<div class="element bar left top"></div>
						<div class="element bar left bottom"></div>
						<div class="element bar right top"></div>
						<div class="element bar right bottom"></div>
					</div>
					<div class="display-area second2 digit d<%=registro.pesoTotal[(largoTotal-7)]%>">
						<div class="element bar center top"></div>
						<div class="element bar center middle"></div>
						<div class="element bar center bottom"></div>
						<div class="element bar left top"></div>
						<div class="element bar left bottom"></div>
						<div class="element bar right top"></div>
						<div class="element bar right bottom"></div>
					</div>
					<div class="display-area second2 digit d<%=registro.pesoTotal[(largoTotal-6)]%>">
						<div class="element bar center top"></div>
						<div class="element bar center middle"></div>
						<div class="element bar center bottom"></div>
						<div class="element bar left top"></div>
						<div class="element bar left bottom"></div>
						<div class="element bar right top"></div>
						<div class="element bar right bottom"></div>
					</div>
					<div class="display-area second2 digit d<%=registro.pesoTotal[(largoTotal-5)]%>">
						<div class="element bar center top"></div>
						<div class="element bar center middle"></div>
						<div class="element bar center bottom"></div>
						<div class="element bar left top"></div>
						<div class="element bar left bottom"></div>
						<div class="element bar right top"></div>
						<div class="element bar right bottom"></div>
					</div>
					<div class="display-area second2 digit d<%=registro.pesoTotal[(largoTotal-4)]%>">
						<div class="element bar center top"></div>
						<div class="element bar center middle"></div>
						<div class="element bar center bottom"></div>
						<div class="element bar left top"></div>
						<div class="element bar left bottom"></div>
						<div class="element bar right top"></div>
						<div class="element bar right bottom"></div>
					</div>
					<div class="display-area second2 digit d<%=registro.pesoTotal[(largoTotal-3)]%>">
						<div class="element bar center top"></div>
						<div class="element bar center middle"></div>
						<div class="element bar center bottom"></div>
						<div class="element bar left top"></div>
						<div class="element bar left bottom"></div>
						<div class="element bar right top"></div>
						<div class="element bar right bottom"></div>
					</div>
					<div class="display-area sep second2 colon2 on">				
						<div class="element bar bottom" style="bottom:0px;"></div>
					</div>
					<div class="display-area second2 digit d<%=registro.pesoTotal[(largoTotal-1)]%>">
						<div class="element bar center top"></div>
						<div class="element bar center middle"></div>
						<div class="element bar center bottom"></div>
						<div class="element bar left top"></div>
						<div class="element bar left bottom"></div>
						<div class="element bar right top"></div>
						<div class="element bar right bottom"></div>
					</div>
				</div>
			</div>

			<% var largoTotal = registro.taraTotal.length;%>
			<div class="row">
				<div >			
						<span style="margin:0 auto;">Tara Total</span>			
				</div>
				<div class="display">					
					<div class="display-area second2 digit d<%=registro.taraTotal[(largoTotal-9)]%>">
						<div class="element bar center top"></div>
						<div class="element bar center middle"></div>
						<div class="element bar center bottom"></div>
						<div class="element bar left top"></div>
						<div class="element bar left bottom"></div>
						<div class="element bar right top"></div>
						<div class="element bar right bottom"></div>
					</div>
					<div class="display-area second2 digit d<%=registro.taraTotal[(largoTotal-8)]%>">
						<div class="element bar center top"></div>
						<div class="element bar center middle"></div>
						<div class="element bar center bottom"></div>
						<div class="element bar left top"></div>
						<div class="element bar left bottom"></div>
						<div class="element bar right top"></div>
						<div class="element bar right bottom"></div>
					</div>
					<div class="display-area second2 digit d<%=registro.taraTotal[(largoTotal-7)]%>">
						<div class="element bar center top"></div>
						<div class="element bar center middle"></div>
						<div class="element bar center bottom"></div>
						<div class="element bar left top"></div>
						<div class="element bar left bottom"></div>
						<div class="element bar right top"></div>
						<div class="element bar right bottom"></div>
					</div>
					<div class="display-area second2 digit d<%=registro.taraTotal[(largoTotal-6)]%>">
						<div class="element bar center top"></div>
						<div class="element bar center middle"></div>
						<div class="element bar center bottom"></div>
						<div class="element bar left top"></div>
						<div class="element bar left bottom"></div>
						<div class="element bar right top"></div>
						<div class="element bar right bottom"></div>
					</div>
					<div class="display-area second2 digit d<%=registro.taraTotal[(largoTotal-5)]%>">
						<div class="element bar center top"></div>
						<div class="element bar center middle"></div>
						<div class="element bar center bottom"></div>
						<div class="element bar left top"></div>
						<div class="element bar left bottom"></div>
						<div class="element bar right top"></div>
						<div class="element bar right bottom"></div>
					</div>
					<div class="display-area second2 digit d<%=registro.taraTotal[(largoTotal-4)]%>">
						<div class="element bar center top"></div>
						<div class="element bar center middle"></div>
						<div class="element bar center bottom"></div>
						<div class="element bar left top"></div>
						<div class="element bar left bottom"></div>
						<div class="element bar right top"></div>
						<div class="element bar right bottom"></div>
					</div>
					<div class="display-area second2 digit d<%=registro.taraTotal[(largoTotal-3)]%>">
						<div class="element bar center top"></div>
						<div class="element bar center middle"></div>
						<div class="element bar center bottom"></div>
						<div class="element bar left top"></div>
						<div class="element bar left bottom"></div>
						<div class="element bar right top"></div>
						<div class="element bar right bottom"></div>
					</div>
					<div class="display-area sep second2 colon2 on">				
						<div class="element bar bottom" style="bottom:0px;"></div>
					</div>
					<div class="display-area second2 digit d<%=registro.taraTotal[(largoTotal-1)]%>">
						<div class="element bar center top"></div>
						<div class="element bar center middle"></div>
						<div class="element bar center bottom"></div>
						<div class="element bar left top"></div>
						<div class="element bar left bottom"></div>
						<div class="element bar right top"></div>
						<div class="element bar right bottom"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
		<% var largoCodigo = registro.codigoLote.length;%>
		<div >			
				<span style="margin:0 auto;">Lote</span>			
		</div>
		<div class="display blue">
			<div class="display-area second2 digit d<%=registro.codigoLote[(largoCodigo-15)]%>">
				<div class="element bar center top"></div>
				<div class="element bar center middle"></div>
				<div class="element bar center bottom"></div>
				<div class="element bar left top"></div>
				<div class="element bar left bottom"></div>
				<div class="element bar right top"></div>
				<div class="element bar right bottom"></div>
			</div>
			<div class="display-area second2 digit d<%=registro.codigoLote[(largoCodigo-14)]%>">
				<div class="element bar center top"></div>
				<div class="element bar center middle"></div>
				<div class="element bar center bottom"></div>
				<div class="element bar left top"></div>
				<div class="element bar left bottom"></div>
				<div class="element bar right top"></div>
				<div class="element bar right bottom"></div>
			</div>
			<div class="display-area second2 digit d<%=registro.codigoLote[(largoCodigo-13)]%>">
				<div class="element bar center top"></div>
				<div class="element bar center middle"></div>
				<div class="element bar center bottom"></div>
				<div class="element bar left top"></div>
				<div class="element bar left bottom"></div>
				<div class="element bar right top"></div>
				<div class="element bar right bottom"></div>
			</div>
			<div class="display-area second2 digit d<%=registro.codigoLote[(largoCodigo-12)]%>">
				<div class="element bar center top"></div>
				<div class="element bar center middle"></div>
				<div class="element bar center bottom"></div>
				<div class="element bar left top"></div>
				<div class="element bar left bottom"></div>
				<div class="element bar right top"></div>
				<div class="element bar right bottom"></div>
			</div>
			<div class="display-area second2 digit d<%=registro.codigoLote[(largoCodigo-11)]%>">
				<div class="element bar center top"></div>
				<div class="element bar center middle"></div>
				<div class="element bar center bottom"></div>
				<div class="element bar left top"></div>
				<div class="element bar left bottom"></div>
				<div class="element bar right top"></div>
				<div class="element bar right bottom"></div>
			</div>
			<div class="display-area second2 digit d<%=registro.codigoLote[(largoCodigo-10)]%>">
				<div class="element bar center top"></div>
				<div class="element bar center middle"></div>
				<div class="element bar center bottom"></div>
				<div class="element bar left top"></div>
				<div class="element bar left bottom"></div>
				<div class="element bar right top"></div>
				<div class="element bar right bottom"></div>
			</div>
			<div class="display-area second2 digit d<%=registro.codigoLote[(largoCodigo-9)]%>">
				<div class="element bar center top"></div>
				<div class="element bar center middle"></div>
				<div class="element bar center bottom"></div>
				<div class="element bar left top"></div>
				<div class="element bar left bottom"></div>
				<div class="element bar right top"></div>
				<div class="element bar right bottom"></div>
			</div>
			<div class="display-area second2 digit d<%=registro.codigoLote[(largoCodigo-8)]%>">
				<div class="element bar center top"></div>
				<div class="element bar center middle"></div>
				<div class="element bar center bottom"></div>
				<div class="element bar left top"></div>
				<div class="element bar left bottom"></div>
				<div class="element bar right top"></div>
				<div class="element bar right bottom"></div>
			</div>
			<div class="display-area second2 digit d<%=registro.codigoLote[(largoCodigo-7)]%>">
				<div class="element bar center top"></div>
				<div class="element bar center middle"></div>
				<div class="element bar center bottom"></div>
				<div class="element bar left top"></div>
				<div class="element bar left bottom"></div>
				<div class="element bar right top"></div>
				<div class="element bar right bottom"></div>
			</div>
			<div class="display-area second2 digit d<%=registro.codigoLote[(largoCodigo-6)]%>">
				<div class="element bar center top"></div>
				<div class="element bar center middle"></div>
				<div class="element bar center bottom"></div>
				<div class="element bar left top"></div>
				<div class="element bar left bottom"></div>
				<div class="element bar right top"></div>
				<div class="element bar right bottom"></div>
			</div>
			<div class="display-area second2 digit d<%=registro.codigoLote[(largoCodigo-5)]%>">
				<div class="element bar center top"></div>
				<div class="element bar center middle"></div>
				<div class="element bar center bottom"></div>
				<div class="element bar left top"></div>
				<div class="element bar left bottom"></div>
				<div class="element bar right top"></div>
				<div class="element bar right bottom"></div>
			</div>
			<div class="display-area second2 digit d<%=registro.codigoLote[(largoCodigo-4)]%>">
				<div class="element bar center top"></div>
				<div class="element bar center middle"></div>
				<div class="element bar center bottom"></div>
				<div class="element bar left top"></div>
				<div class="element bar left bottom"></div>
				<div class="element bar right top"></div>
				<div class="element bar right bottom"></div>
			</div>
			<div class="display-area second2 digit d<%=registro.codigoLote[(largoCodigo-3)]%>">
				<div class="element bar center top"></div>
				<div class="element bar center middle"></div>
				<div class="element bar center bottom"></div>
				<div class="element bar left top"></div>
				<div class="element bar left bottom"></div>
				<div class="element bar right top"></div>
				<div class="element bar right bottom"></div>
			</div>
			<div class="display-area second2 digit d<%=registro.codigoLote[(largoCodigo-2)]%>">
				<div class="element bar center top"></div>
				<div class="element bar center middle"></div>
				<div class="element bar center bottom"></div>
				<div class="element bar left top"></div>
				<div class="element bar left bottom"></div>
				<div class="element bar right top"></div>
				<div class="element bar right bottom"></div>
			</div>
			<div class="display-area second2 digit d<%=registro.codigoLote[(largoCodigo-1)]%>">
				<div class="element bar center top"></div>
				<div class="element bar center middle"></div>
				<div class="element bar center bottom"></div>
				<div class="element bar left top"></div>
				<div class="element bar left bottom"></div>
				<div class="element bar right top"></div>
				<div class="element bar right bottom"></div>
			</div>
		</div>

		<div class="row" >						
			<% 
				var fecha = registro.fecha.split(" ")[0].split("");
				var hora = registro.fecha.split(" ")[1].split("");
			%>		
			<div class="col-xs-6" > 			
				<span style="margin:0 auto;">Fecha</span>			
				<div class="display red">
					<div class="display-area second2 digit d<%=fecha[0]%>">
						<div class="element bar center top"></div>
						<div class="element bar center middle"></div>
						<div class="element bar center bottom"></div>
						<div class="element bar left top"></div>
						<div class="element bar left bottom"></div>
						<div class="element bar right top"></div>
						<div class="element bar right bottom"></div>
					</div>
					<div class="display-area second2 digit d<%=fecha[1]%>">
						<div class="element bar center top"></div>
						<div class="element bar center middle"></div>
						<div class="element bar center bottom"></div>
						<div class="element bar left top"></div>
						<div class="element bar left bottom"></div>
						<div class="element bar right top"></div>
						<div class="element bar right bottom"></div>
					</div>
					<div style="float:left; margin: 0 15px 15px 0;"><span style="color:#fff;">-</span></div>
					<div class="display-area second2 digit d<%=fecha[3]%>">
						<div class="element bar center top"></div>
						<div class="element bar center middle"></div>
						<div class="element bar center bottom"></div>
						<div class="element bar left top"></div>
						<div class="element bar left bottom"></div>
						<div class="element bar right top"></div>
						<div class="element bar right bottom"></div>
					</div>
					<div class="display-area second2 digit d<%=fecha[4]%>">
						<div class="element bar center top"></div>
						<div class="element bar center middle"></div>
						<div class="element bar center bottom"></div>
						<div class="element bar left top"></div>
						<div class="element bar left bottom"></div>
						<div class="element bar right top"></div>
						<div class="element bar right bottom"></div>
					</div>
					<div  style="float:left; margin: 0 15px 15px 0;"><span style="color:#fff;">-</span></div>
					<div class="display-area second2 digit d<%=fecha[6]%>">
						<div class="element bar center top"></div>
						<div class="element bar center middle"></div>
						<div class="element bar center bottom"></div>
						<div class="element bar left top"></div>
						<div class="element bar left bottom"></div>
						<div class="element bar right top"></div>
						<div class="element bar right bottom"></div>
					</div>
					<div class="display-area second2 digit d<%=fecha[7]%>">
						<div class="element bar center top"></div>
						<div class="element bar center middle"></div>
						<div class="element bar center bottom"></div>
						<div class="element bar left top"></div>
						<div class="element bar left bottom"></div>
						<div class="element bar right top"></div>
						<div class="element bar right bottom"></div>
					</div>
					<div class="display-area second2 digit d<%=fecha[8]%>">
						<div class="element bar center top"></div>
						<div class="element bar center middle"></div>
						<div class="element bar center bottom"></div>
						<div class="element bar left top"></div>
						<div class="element bar left bottom"></div>
						<div class="element bar right top"></div>
						<div class="element bar right bottom"></div>
					</div>
					<div class="display-area second2 digit d<%=fecha[9]%>">
						<div class="element bar center top"></div>
						<div class="element bar center middle"></div>
						<div class="element bar center bottom"></div>
						<div class="element bar left top"></div>
						<div class="element bar left bottom"></div>
						<div class="element bar right top"></div>
						<div class="element bar right bottom"></div>
					</div>
				</div>
			</div>
			<div class="col-xs-6" style="padding-left:150px;"> 
				<span style="margin:0 auto;">Hora</span>			
				<div class="display red">
					<div class="display-area second2 digit d<%=hora[0]%>">
						<div class="element bar center top"></div>
						<div class="element bar center middle"></div>
						<div class="element bar center bottom"></div>
						<div class="element bar left top"></div>
						<div class="element bar left bottom"></div>
						<div class="element bar right top"></div>
						<div class="element bar right bottom"></div>
					</div>
					<div class="display-area second2 digit d<%=hora[1]%>">
						<div class="element bar center top"></div>
						<div class="element bar center middle"></div>
						<div class="element bar center bottom"></div>
						<div class="element bar left top"></div>
						<div class="element bar left bottom"></div>
						<div class="element bar right top"></div>
						<div class="element bar right bottom"></div>
					</div>
					<div style="float:left; margin: 0 15px 15px 0;"><span style="color:#fff;">:</span></div>
					<div class="display-area second2 digit d<%=hora[3]%>">
						<div class="element bar center top"></div>
						<div class="element bar center middle"></div>
						<div class="element bar center bottom"></div>
						<div class="element bar left top"></div>
						<div class="element bar left bottom"></div>
						<div class="element bar right top"></div>
						<div class="element bar right bottom"></div>
					</div>
					<div class="display-area second2 digit d<%=hora[4]%>">
						<div class="element bar center top"></div>
						<div class="element bar center middle"></div>
						<div class="element bar center bottom"></div>
						<div class="element bar left top"></div>
						<div class="element bar left bottom"></div>
						<div class="element bar right top"></div>
						<div class="element bar right bottom"></div>
					</div>
					<div  style="float:left; margin: 0 15px 15px 0;"><span style="color:#fff;">:</span></div>
					<div class="display-area second2 digit d<%=hora[6]%>">
						<div class="element bar center top"></div>
						<div class="element bar center middle"></div>
						<div class="element bar center bottom"></div>
						<div class="element bar left top"></div>
						<div class="element bar left bottom"></div>
						<div class="element bar right top"></div>
						<div class="element bar right bottom"></div>
					</div>
					<div class="display-area second2 digit d<%=hora[7]%>">
						<div class="element bar center top"></div>
						<div class="element bar center middle"></div>
						<div class="element bar center bottom"></div>
						<div class="element bar left top"></div>
						<div class="element bar left bottom"></div>
						<div class="element bar right top"></div>
						<div class="element bar right bottom"></div>
					</div>
				</div>
			</div>
		</div>			
</div>

<div class="row" style="color : #ffffff; text-align : center; font-size: 60px; font-weight : bold; background-color : rgba(228, 76, 40, 1);position: fixed;bottom: 0px; width: 100%;">
	<span><%=registro.error%></span>
</div>
<div class="row" style="color : #ffffff; text-align : center; font-size: 60px; font-weight : bold; background-color : rgba(76, 228, 40, 1);position: fixed;bottom: 0px; width: 100%;">
	<span><%=registro.exito%></span>
</div>
